---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getAllPostSorted } from "../../helpers/helper";
import BlogList from "../../components/BlogList.astro";

const pageTitle = "Read Something New";
const pageDesc =
  "A growing collection of practical, readable articles on habits, wellness, personal growth, travel, tech, and simple living. Updated daily.";
const allPosts = await getAllPostSorted();
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDesc}>
  <p>
    {pageDesc}
  </p>
  <BlogList posts={allPosts} />
</BaseLayout>
