---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getAllPostSorted } from "../../helpers/helper";
import BlogList from "../../components/BlogList.astro";

const pageTitle = "My Learning Blog";
const allPosts = await getAllPostSorted();
---

<BaseLayout pageTitle={pageTitle} pageDescription="">
  <p>This is where I will post about my journey learning about things.</p>
  <BlogList posts={allPosts} />
</BaseLayout>
